[submodule "themes/web"]
	path = themes/web
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
