.post-content p {
    text-align: justify;
}

p {
    text-align: justify;
}

.post-content figure>figcaption>p {
    text-align: center;
}
diagram[src$="centerme"] {
  display:block;
  margin: 0 auto;
}

.diagram[src$="centerme"] {
  display:block;
  margin: 0 auto;
}