.post-content p {
    text-align: justify;
}

p {
    text-align: justify;
}

diagram[src$="centerme"] {
  display:block;
  margin: 0 auto;
}

.diagram[src$="centerme"] {
  display:block;
  margin: 0 auto;
}